<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="./Resources/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Home</title>
    <style>
      .card {
        margin-top: 2%;
        
      }
      body {
        background-color: #e0e1dd;
      }
      nav {
        background-color: rgba(52, 60, 68, 0.993)
      }
      #perfil {
        color: white;
        border: none;
      }
      #perfil:hover {
        background-color: #778da9;
        
      }
     
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
      #itemMenu {
        background-color: #415a77;
        color: white;
        transition: 0.3s;
      }
      #itemMenu:hover {
        color: white;
        opacity: 0.7;
      }
      .dropdown-menu{
        background-color: #415a77;
      }
      body{
      background-color:whitesmoke
      }
      #search {
        color: white;
        background-color: #778da9;
      }
      #search:active {
        outline: none;
        border-color: none;
        offset: none;
        
      }
      .titlePost {
        font-weight: 500;
       margin-right: 30%;
       margin-top: 2%;
      }
    #perfil {
      display: block;
      margin-left: 40%;
      width: 100%;
    }
    #fotoPerfil {
      margin-left: 50%;
    }
    .footer {
      margin-top: 2%;
    }
    #containerComentario {
      margin-top: 2%;
    }
    #card {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      min-height: 40vh;
    }
    </style>
</head>
<body> 
  <%
  let currentPost = 0
  function getAutorNome(id){
      for(let k=0; k<users.length;k++){
        if(users[k].id == id){
          return users[k].name
        }
      
      }
  }
  function defineCurrentPost(id){
    currentPost = id
    return currentPost
  }
  function getIdAutor(id){
      for(let k=0; k<users.length;k++){
        if(users[k].id == id){
          return users[k].id
        }
      
      }
  }
%>
  <!-- Nav -->
    <nav class="navbar ">
        <div class="container-fluid">
          <div class="dropdown">
            <img src="./Resources/user.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-bottom" id="fotoPerfil">
            <% try{ %>
            <% if(user){ %>
              <img src="/uploads/<%=user.foto_perfil%>" alt="Logo" width="120" height="120" class="rounded mx-auto d-block" id="fotoPerfil">
              <%}%>
            <% } catch(err){} %>
      
            <a id="perfil" class="btn btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            </a>
            <ul class="dropdown-menu">
              <li><a id="itemMenu" type="button" class="btn btn dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Post</a></li>
              <li><a id="itemMenu" type="button" class="btn btn dropdown-item" data-bs-toggle="modal" data-bs-target="#modalChangeProfilePicture">Change profile picture</a></li>
        
            </ul>
          </div>
        </div>
      </nav>  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
          <form action="/api/post/create/" method="post"  enctype="multipart/form-data">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><Modal title></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" name="descricao" class="form-control" id="titleInput" >
              </div>
              <div class="input-group">
                <input type="file" name="file" class="form-control" id="inputIamgemPost" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <input type="text" name="autor" id="autorPost" hidden="true">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnClose">Close</button>
              <button type="submit" class="btn btn-light" id="btnEnviaPost">Save post</button>
            </div>
          </form>
          </div>
        </div>
      </div>
        <!-- Modal alter foto de perfil-->
        <div class="modal fade" id="modalChangeProfilePicture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <form id="formEnviarFotoPerfil" action="/api/user/upload/profile-picture/" method="post" enctype="multipart/form-data">
                <div class="input-group">
                  <input type="file" name="file" class="form-control" id="iputFIle" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <input type="text" name="id" id="idDoUsuario" hidden="true">
                </div>
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnClose">Close</button>
                <button type="submit" class="btn btn-light" id="btnEnviarFotoPerfil">Save changes</button>
              </div>
            </div>
          </form>
          </div>
        </div>
        
      <!-- Modal Edit-->
      <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Post Edit</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" id="editTitle" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                <textarea class="form-control" id="editContent" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="editClose">Close</button>
              <button type="button" class="btn btn-light" id="sendEdit">Save changes</button>
            </div>
          </div>
        </div>
      </div>
        <!-- Content -->
        <div class="container" id="contianerPosts">
          <%let postAtual
            function postDefinir(id){
              postAtual = id
            }
          
          %>
          <%posts.data.forEach(post => {%>
           
            <div class="card" id="card">
              <div class="card-header">
               
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <!-- Botão de like ao clicar -->
                  <!-- <span class="material-symbols-outlined">
                    thumb_up
                    </span> -->
                    <!-- Botão de dislike ao clicar -->
                    <!-- <span class="material-symbols-outlined">
                      thumb_down
                      </span> -->
                  <span class="titlePost"><%= post.descricao %></span>
                  <button onclick="preencheFormComentarios('<%=post.id%>','<%=getIdAutor(post.autor)%>', '<%postDefinir(post.edit)%>')" id="btnForum" data-bs-toggle="modal" data-bs-target="#modalForum"  class="btn btn-light me-md-2" type="button"><span class="material-symbols-outlined">
                    forum
                  </span></button>
                  <button id="btnEdit"data-bs-toggle="modal" data-bs-target="#modalEdit"  class="btn btn-light me-md-2" type="button"><span class="material-symbols-outlined">
                    thumb_up
                    </span></button>
                  <button class="btn btn-light" type="button" ><span class="material-symbols-outlined">
                    thumb_down
                    </span></button>
                </div>
              </div>
              <div class="card-body">
                <img onclick="paginaPerfil('<%=post.autor%>')" src="/uploads/<%=post.imagem %>" class="card-img-top" alt="...">
                  
                </blockquote>
                <footer class="footer">Posted by: <%=getAutorNome(post.autor)%>  </footer>
              </div>
            </div>   
             <!-- Modal forum-->
         <div class="modal fade" id="modalForum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Forum</h1>
                <button id="btnCloseForum2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <form action="/api/post/create/" method="post">
                <div class="container">
                  <div class="list-group" id="container-comentario">
                    
                  </div>
                </div>
                <div class="container" id="containerComentario">
                  <input id="iputComentario" class="form-control" type="text" name="comentario"  aria-label="default input example">
                  <input type="text" hidden="true" id="comentarioIdUsuario" name="autor">
                  <input type="text" hidden="true" id="comentarioIdFoto" name="foto">
                </div>
               
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="btnCloseForum">Close</button>
                <button type="button" class="btn btn-light" id="btnEnviarComentario">Send</button>
              </div>
            </form>
            </div>
          </form>
          </div>
        </div>
          <% }) %>   
          
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="./scripts/home.js"></script>    
  </body>
</html>
